@font-face {
     font-family: Sentinel-Bold;
     src: url(../fonts/Sentinel/Sentinel-Bold.woff);
}
@font-face {
     font-family: Sentinel-Medium;
     src: url(../fonts/Sentinel/Sentinel-Medium.woff);
}
@font-face {
     font-family: Sentinel-Light;
     src: url(../fonts/Sentinel/Sentinel-Light.woff);
}
@font-face {
     font-family: Sentinel-LightItalic;
     src: url(../fonts/Sentinel/Sentinel-LightItalic.woff);
}


html,body{
  height: 100%;
  text-align: center;
  background: #000;
  font-family: 'Inter', sans-serif, sans-serif;

  color: #fff;
  position: relative;
 
}


a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  text-decoration: none;
  color: inherit;
}


.container{
  position: absolute;
  bottom: 0;
}

.container-bg{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: block;
  z-index: 0;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+50,0.75+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.75) 100%),url(../images/bg.jpg),#000;; /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.75) 100%),url(../images/bg.jpg),#000;; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(top bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.75) 100%),url(../images/bg.jpg),#000;; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bf000000',GradientType=0 ); /* IE6-9 */

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  -webkit-background-size:  contain;
  -moz-background-size:  contain;
  -o-background-size:  contain;
  background-size:  contain;
}


.title {
font-family: Sentinel-Medium;
font-size: 6vw;
text-align: center;
font-weight: 500;
}

.desc {
margin-top:0;
font-size: 3vw;
text-align: center;
color: #666666;
margin-bottom: 5vw;
  font-weight: 400;
}



/*#requestButton:hover{
  background: #fff;
}*/

.contactButton a{
  background: none;
  cursor: pointer;
    padding: 2vw 0;
  }


.material-symbols-outlined{
    font-size: 2vw !important;
    color: #ddd;
   -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

.material-symbols-outlined:hover {
  color: #fff;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.footer-desktop {
  margin-bottom: 3vw;
/*  background-color: yellow;*/
}

.footer-desktop  a{
  padding-top: 10px;
  text-align: center;
  color: #999;
 font-family: Sentinel-Light;
    font-size: 1vw;
/*  background-color: red;*/

}

.footer-desktop  a:hover {
    -webkit-transition: color 1s;
    transition: color 1s;
    color: #fff;
}

.footer-mobile{
border-top: 1px solid #333;

  display: flex;
  flex-direction: column;
  padding-top: 4vw;

 flex: 1;

}


.footer-mobile a{
   opacity: 50%;
    -moz-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    -webkit-transition: opacity 1s ease-in;
    transition: opacityl 1s ease-in;
 
 height: 6vw !important;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
/*border: 1px solid red;*/
}

.footer-mobile a:hover{
       opacity: 100%;
}


.link-linkedin {
  background: url(../images/icn-linkedin.svg) no-repeat center; /* FF3.6-15 */
}

.link-instagram {
  background: url(../images/icn-instagram.svg) no-repeat center; /* FF3.6-15 */
  height: 6vw !important;
  background-size: contain;
}

.link-twitter {
background: url(../images/icn-twitter.svg) no-repeat center; /* FF3.6-15 */
}


.link-behance {
background: url(../images/icn-behance.svg) no-repeat center; /* FF3.6-15 */
}



.link-soundcloud {
background: url(../images/icn-soundcloud.svg) no-repeat center; /* FF3.6-15 */
}


.link-spotify {
background: url(../images/icn-spotify.svg) no-repeat center; /* FF3.6-15 */
}

/*.link-linkedin,.link-instagram,.link-twitter,.link-behance,.link-soundcloud,.link-spotify {
  opacity: 40%;
}*/



/* Fade-in */

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:2s;
  -moz-animation-duration:2s;
  animation-duration:2s;
}


@media (min-width: 1200px) {

.footer-mobile{
  display: none;
}

 }

 @media (max-width: 1200px) {

  .footer-mobile{
  display: none;
}

   .footer-desktop a{  font-size: 1.5vw;}

   .material-symbols-outlined{font-size: 3vw !important;}


}


 @media (max-width: 992px) {
  .footer-mobile{
  display: none;
}
   .material-symbols-outlined{font-size: 4vw !important;}

  .title{
    text-align: center;
    font-weight: 500;
        }

  .desc {   
    text-align: center;
       font-weight: 400;
        }

  .footer-desktop a{   
    text-align: center;

  font-size: 2.5vw;
    padding: .5vw 0;
        }

    .container-bg{

 background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,1) 100%),url(../images/bg.jpg),#000;; /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 40%,rgba(0,0,0,1) 100%),url(../images/bg.jpg),#000;; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(top bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 40%,rgba(0,0,0,1) 100%),url(../images/bg.jpg),#000;; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  -webkit-background-size:  contain;
  -moz-background-size:  contain;
  -o-background-size:  contain;
  background-size:  contain;
}

  

}

 @media (max-width: 768px) {
.footer-desktop{
  display: none;
}

.footer-mobile{
  display: block;

}
     .material-symbols-outlined{font-size: 7vw !important;}

  .title{font-size: 15vw;
    text-align: center;
    color: #fff;
       font-weight: 500;
        }

  .desc {   font-size: 7vw;
    text-align: center;
    color: #aaa;
       font-weight: 400;
        }

  .contactButton {
    margin-bottom: 14vw;
  }

.footer{
  margin-bottom: 5vw;
}

.material-symbols-outlined{
  font-size: 8vw !important;}

  .container-bg{

 background: -moz-linear-gradient(top, rgba(0,0,0,0) 40%, rgba(0,0,0,1) 100%),url(../images/bg.jpg),#000; /* FF3.6-15 */
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,1) 100%),url(../images/bg.jpg),#000;/* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(top bottom, rgba(0,0,0,0) 40%,rgba(0,0,0,1) 100%),url(../images/bg.jpg),#000;/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  -webkit-background-size:  cover;
  -moz-background-size:  cover;
  -o-background-size:  cover;
  background-size:  cover;
}


  

}
